/* RESET PADDING AND MARGING */

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

/* TYPOGRAPHY */

p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    margin-top: 2rem;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: rgba(0,0,0,.7);
    margin-top: 3rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgba(0,0,0,.7)
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(0,0,0,.7)
}

a {
    text-decoration: none;
}
.btns {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 8rem;
}
.btns li a {
    font-weight: 600;
    color: white;
    margin: 0 .5rem;
}

li .mac {
    padding: 1rem 1.5rem;   
    background-color: #6074FF;
    border-radius: 30px;
    box-shadow:  2px 2px 0px #4556c8;
}

li .ios {
    padding: 1rem 1.5rem;   
    background-color: #26BCA4;
    border-radius: 30px;
    box-shadow:  2px 2px 0px #1d9985;
}

.site-map ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
}

.site-map ul li {   
    padding: .5rem 1.25rem;
}

/* CONTAINERS */

.container {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main-header {
    background-image: url("images/bg-header-desktop.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #F5F6F8;
}

.small {
    width: 60%;
    margin: 0 auto;
}

.logo {
    margin-top: 8rem;
}

.smaller {
    width: 37%;
    margin: 0 auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}
.left img{
    width: 100%;
    margin-left: -3rem;
}
.right {
    text-align: start;
    padding: 0 10rem 0 5rem;
}

.right p {
    margin: 0;
    margin-bottom: 2rem;
}

.title-2 {
    margin-top: 5rem;
}

.img {
    width: 100%;
    margin-top: 6rem;
}